{% extends "bootstrap/base.html" %}

{% block title %} Unravelr {% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}

{% block content %}
    <div class="container">
    {% block page_body %}
    <div class="io-panes">
        <div class="message-input-container">MSG.IN> <div class="message-input" contenteditable="true" style="display: inline"> Type your message here.</div></div>
        <div class="key-container">KEY.IN> <div class="key-input" contenteditable="true" style="display: inline">cypher-cossack</div></div>
        <button class="btn encrypt-decrypt-btn"><div class="encrypt-decrypt-btn-text" style="display: inline">Encrypt</div></button>
        <div class="system-output-container">MSG.OUT> <div class="system-output" contenteditable="true" style="display: inline"></div></div>
    </div>
      {% endblock %}
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('frontend.static', filename='js/bootstrap.min.js') }}"></script>

    <div class="footer">Unravelr, by Michael Sarfati 2016-2017</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    // Handles the cipher type
    var cipher = "rc4";
    $('a[href="#rc4"]').click(function(){
      var cipher = "rc4";
      $(".current-cipher").html('RC4');
    });
    // $('a[href="#tea"]').click(function(){
    //   var cipher = "tea";
    //   $(".current-cipher").html('TEA');
    // });

    // Handles the Mode
    var mode = "encrypt";
    $('a[href="#mode"]').click(function(){
      if (mode == "decrypt") {
        mode = "encrypt";
        $('a[href="#mode"]').html('Mode: Plaintext-to-Ciphertext');
        $(".encrypt-decrypt-btn-text").html('Encrypt');
      } else if (mode == "encrypt") {
        mode = "decrypt";
        $('a[href="#mode"]').html('Mode: Ciphertext-to-Plaintext');
        $(".encrypt-decrypt-btn-text").html('Decrypt');
      }
    });

    // Click to delete default text
    $('div.message-input').one( 'click', function( event ) {
      $('div.message-input').html("")
    });

    // CIPHERS menu
    // Encrypt & Decrypt functionality for RC4
    $('.encrypt-decrypt-btn').on( 'click', function( event ) {
      $.post(
        "/api/ciphers/" + cipher + "/" + mode,
        {key: $("div.key-input").text().trim(), message: $("div.message-input").text().trim()},
        function(data, status) {
          if (mode == "encrypt") {
            var result = data["ciphertext"];
          } else if (mode == "decrypt") {
            var result = data["plaintext"];
          }
          // console.log(data['plaintext']);
          $('div.system-output').html(result);
        });
    });

    </script>
{% endblock %}
</html>
